.recipe-main {
	width: 100vw;
	height: 100vh;
}

.filter {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 2px;
	max-width: 15rem;
	margin: 0;
	height: 100%;
}

.top {
	border-bottom: 1px solid black;
	padding-top: 15px;
}

.title {
	font-family: 'Kdam Thmor Pro';
}

.cardError {
	width: 70vw;
	margin: 50vh auto;
	transform: translateY(-50%);
	text-align: center;
}

.card {
	width: 90vw;
	margin: auto;
	height: 40vh;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #00617f;
}