.recipe-main {
	width: 100vw;
	height: 100svh;
}

.filter {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 2px;
	margin: 0;
	height: 100%;
}

.top {
	border-bottom: 1px solid black;
}

.title {
	font-family: 'Kdam Thmor Pro';
}

.cardError {
	width: 70vw;
	margin: 50svh auto;
	/* transform: translateY(-50%); */
	text-align: center;
}

.card {
	width: 90vw;
	margin: auto;
	height: 40svh;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #00617f;
}

.dinnerButton {
	min-width: 25vw;
}

@media screen and (max-width: 480px) {
	.title {
		display: none;
	}

	.filter {
		width: 69vw;
	}
}

@media screen and (min-width: 481px) {
	.filter {
		max-width: 15rem;
	}
}