.list {
	list-style: none;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	background-color: rgb(255, 255, 255);
}

.menu {
	background-color: rgb(255, 255, 255);
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 0 0 5px 5px;
	position: fixed;
	transform: translate(-7px, -1px);
	text-decoration: underline;
	text-align: center;
	line-height: 2rem;
}

.menu ul {
	padding: 0;
}

.menu li {
	list-style: none;
}

.menu li:hover {
	cursor: pointer;
	color: rgb(52, 52, 52);
}

.menu li:active {
	color: rgb(58, 121, 121);
}

@media screen and (max-width: 480px) {
	.list {
		width: 29vw;
	}

	.menu {
		width: 29vw;
	}
}

@media screen and (min-width: 481px) {
	.list {
		width: 5em;
	}

	.menu {
		width: 5em;
	}
}
