.error {
	color: red;
}

.title {
	font-family: 'Kdam Thmor Pro';
	text-align: center;
}

.subtitle {
	font-family: 'Kdam Thmor Pro';
	text-align: center;
	padding-bottom: 5px;
	/* text-decoration: underline; */
}

.card {
	background-color: rgb(0,97,127);
	min-height: 20svh;
	max-height: 40svh;
	width: 60vw;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	width: 100%;
}

.page {
	width: 100vw;
	height: 95svh;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	overflow-y: auto;
}

.input {
	margin: auto;
	/* min-width: 300px; */
	width: 100%;
	border-radius: 5px;
	padding-left: 30px;
}

.username {
	background: url(../../../Assets/icons/icons8-user-24.png) no-repeat scroll, white;
}

.password {
	background: url(../../../Assets/icons/icons8-password-24.png) no-repeat scroll, white;
}

.email {
	background: url(../../../Assets/icons/icons8-mail-24.png) no-repeat scroll, white;
}

.submit {
	background: url(../../../Assets/icons/icons8-enter-24.png) no-repeat scroll, white;
}

