.recipeCard {
	max-width: 300px;
	width: 180px;
	height: 180px;
	text-align: center;
	text-overflow: ellipsis;
}

.image {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	height: 62%;
	border: 4px solid black;
}

.title {
	text-decoration: underline;
}

.recipeDescription {
	display: -webkit-box;
    max-width: 90%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	text-overflow: ellipsis;
	height: 22%;
	text-align: center;
	margin: auto;
}

.selected {
	font-weight: bold;
	text-overflow: ellipsis;
}