.showRecipe {
	width: 85vw;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	border-radius: 5px 5px 0 0 !important;
	text-align: center;
	z-index: 2;
	height: 50vmax;
	left: 50%;
	transform: translateX(-50%);
}

.description {
	font-size: 1em;
	display: -webkit-box;
    max-width: 50%;
	min-width: 50%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow-y: auto;
	text-align: center;
	margin: auto;
	padding: 5px;
	height: 100%;
}

.recipeHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	height: 11rem;
	padding: 20px;
	margin: 5px auto;
	background-color: grey;
	border-radius: 10px;
	object-fit: cover;
}

.displayContainer {
	height: 100%;
	overflow-y: auto;
	/* padding-bottom: 20px; */
}

.descriptionContainer {
	width: 50%;
	height: 100%;
	border: 2px solid black;
}

.image {
	width: 50%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.sidebyside {
	display: flex;
	flex-direction: row;
	text-align: left;
	padding: 0 5px;
}

.ingredients {
	list-style-type: circle;
	display: flex;
	flex-direction: column;
	width: 50%;
	border-right: 5px solid black;
	padding: 5px;
}

.instructions {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 5px;
}

.instruction {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 5px;
	text-align: left;
	border: 1px solid grey;
	border-radius: 2px;
}

button {
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}

.forDinner {
	display: block;
	margin: auto;
	width: 80%;
}

.timer {
	text-align: right;
	text-decoration: underline;
	color: #00617f;
	padding-left: 10px;
}

.subtitle {
	text-align: center;
	font-family: 'Kdam Thmor Pro';
}