.recipes {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	gap: 10px;
	flex-wrap: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	padding: 20px 5px 20px 5px;
	flex: 1;
	justify-content: center;
}

.page {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100vw;
	height: 100vh;
}



.title {
	font-family: 'Kdam Thmor Pro';
	width: 100vw;
	text-align: center;
}

.goback {
	position: absolute;
	left: 10px;
	top: 20px;
}

.cardError {
	width: 70vw;
	margin: 50vh auto;
	transform: translateY(-50%);
	text-align: center;
}

.card {
	width: 90vw;
	margin: auto;
	height: 40vh;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #00617f;
}