.button {
	width: 13rem;
	font-family: 'Kdam Thmor Pro';
	font-size: 2rem;
}

.card {
	/* width: 100%; */
	margin:20px auto;
	background-color: #00617f;
	overflow-y: auto;
	padding-right: 15px;
}

.main {
	display: flex;
	justify-content: center;
	height: 80svh;
	
}

.hr {
	border: 1px solid black;
}

.mainTitle {
	text-align: center;
	font-family: 'Kdam Thmor Pro';
}

.subtitle {
	text-align: center;
}

.buttonContainer {
	text-align: center;
}